body{
	background: url("https://img.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg?size=626&ext=jpg");
	width:auto;
}

.name{
  	text-align: center;
}
.name img{																			/* Profile pic */
  	border-radius:50%;
  	height: 260px;
  	margin: 80px auto 0 8px;
  	box-shadow: 0 10px 25px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.2);
}

.name p{
	color: red;
  	font-family: 'cabin', serif;													/* Profile name */
  	font-size: 40px ;
  	margin: 20px auto 0px auto;
}

.icons{
	text-align: center;
	margin: 17px auto 20px auto;
	padding: 0px;
}

.icons li{
	display:inline ;
	margin: 0px 8px;
}


img{
	height: 28px;
	width: auto;

}

@media screen and (max-width:500px) {
	.name img{
		height: 400px;
	}
	.name p{
		font-size:70px ;
		color: black;
	}
}

header{
	z-index: 1000000;
	position: sticky;
	top: 0;
}
.tabs{
	position: relative;
	display: flex;
	font-family: 'tahoma';
	justify-content: center;
	align-items: : center;
	margin: 60px 32px 60px 0px;
	padding: 35px 100px
	border: 0px;
}

.tabs  li{
	position: relative;
	list-style: none;
	margin:30px 25px;
}

.tabs  li a{
	position: relative;
	font-size: 25px;
	text-decoration: none;
	color: #464646;
}

.tabs  li a:hover {
	
  	color: red;
}


h3{
	text-align: center;
}


#myBtn {
	font-family: 'tahoma';
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: red; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 36px; /* Increase font size */
}

#myBtn:hover {
  background-color: transparent; /* Add a dark-grey background on hover */
  color: black;
}

header.sticky{
	background: white;
	line-height: 0px;
	box-shadow: 0 10px 25px rgba(0,0,0,0), 0 6px 6px rgba(0,0,0,0.15);
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

header.sticky ul li a{
	color: black;
	font-size: 20px;
	padding: 0px;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}
