body{
	background: url("https://img.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg?size=626&ext=jpg");
	width:auto;
}

.name{
  	text-align: center;
}
.name img{																			/* Profile pic */
  	border-radius:50%;
  	height: 275px;
  	margin: 50px auto 0 auto;
  	box-shadow: 0 10px 25px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.2);
}

.name p{
	color: red;
  	font-family: 'Amiri', serif;													/* Profile name */
  	font-size:50px ;
  	margin: 5px 5px 0px 0px;
}

ul{
	text-align: center;
	margin: 10px 15px 0px 0px;
	padding: 0px;
}

li{
	display:inline ;
	margin: 0px 8px;
}

a{
	color: white;
}

img{
	height: 28px;
	width: auto;

}


